## Local dev files
.idea
.venv
.fleet
node_modules
env
*.egg-info
*.pytest_cache
__pycache__
*.swp
*.pyc
.coverage*
!.coveragerc
coverage.xml
.DS_Store
*.bak
.npmrc

# used for local path development
local-packages/*
!local-packages/.gitkeep

## Configuration and secrets
secrets
clients.json
login_methods.json
!package.json
!package-lock.json
!lang/*.json

app.conf

*.crt
*.key
settings.json
idp_metadata.xml

## Caches
cache