[app]
name=VAD
environment = development
external_base_url = https://localhost:8006
user_authentication_sym_key = 0000000000000000000000000000000000000000000000000000000000000000

[logging]
# the loglevel for the application logger instances (app, max_core and uvicorn)
loglevel_app = INFO
# the loglevel for everything except for the application logger instances
loglevel_default = WARNING

[uvicorn]
host = 0.0.0.0
port = 8006
reload = True
use_ssl = True
reload_includes = *.conf
base_dir = secrets/ssl
cert_file = server.crt
key_file = server.key

[cache]
cache_driver = redis
redis_host = redis
redis_port = 6379

[jwe]
jwe_sign_priv_key_path = secrets/nl-rdo-max-private.key
jwe_sign_crt_path = secrets/nl-rdo-max-private.crt

[oidc]
rsa_private_key = secrets/oidc/selfsigned.key
rsa_private_key_crt = secrets/oidc/selfsigned.crt
issuer = https://localhost:8006
subject_id_hash_salt = somesalt

[saml]
# Issuer for redirect SAML redirect responses
base_issuer = localhost:8007

[auth_session]
enabled = True
enforce_secure_cookie = True
secret_key = 0000000000000000000000000000000000000000000000000000000000000000

[cbp_source]
; Available types: http, no-op.
type=no-op

[cbp_cache]
filepath=cache/cbp/cbp-clients.json

[prs]
; One of either (mock,api)
prs_repository=mock
repo_base_url=localhost

;Organisation id, can be any arbitrary string
organisation_id=123

[brp]
mock_brp=True
base_url=http://brp:5010/haalcentraal/api/brp
api_key=

[swagger]
enabled = True