{
  "006fbf34-a80b-4c81-b6e9-593600675fb1": {
    "name": "test client",
    "token_endpoint_auth_method": "none",
    "redirect_uris": [
      "http://localhost:8001/oidc/callback"
    ],
    "response_types": [
      "code"
    ],
    "login_methods": [
      "digid_mock"
    ],
    "pubkey_type": "RSA",
    "client_public_key_path": "secrets/clients/test_client/test_client.crt",
    "client_authentication_method": "none",
    "content_type": "application/json"
  }
}